:root {
  --honeycolor: #e09f3e;
  --creamcolor: #fff3b0;
  --marooncolor: #540b0e;
  --paleredcolor: #b3383a;
  --palenavycolor: #44ddc9;
}
html {
  background-color: var(--creamcolor);
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
p {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: var(--marooncolor);
}
main img {
  width: 25%;
}
main {
  margin: 0 3.5em 2em 3.5em;
}
div p {
  font-family: "Nova Mono", monospace;
  font-size: 1.15em;
}
div img {
  width: 30%;
}
h3 {
  text-align: center;
  padding: 5px;
  color: var(--marooncolor);
  border-block-end: 2px solid var(--marooncolor);
  font-size: larger;
}
table {
  margin: auto;
  border: 3px double var(--palenavycolor);
  border-collapse: collapse;
  width: 50%;
}
td,
th {
  padding: 3px;
  border: 1px solid var(--paleredcolor);
}
tr:nth-child(even) {
  background-color: var(--palenavycolor);
  color: var(--paleredcolor);
  font-weight: bold;
}
th {
  font-weight: bold;
  font-size: 1.1em;
  text-align: left;
}
td {
  text-align: center;
}
header img {
  transition: width 250ms;
  /* Third years know best */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 44%;
  height: auto;
}
header {
  background-color: var(--marooncolor);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.slickborder {
  border: 0.625rem solid darkred;
  box-shadow: 0.625rem 0.625rem 0 0 var(--palenavycolor);
  padding: 1.25rem;
}
.mytopLinks a {
  font-size: 1.9rem;
  font-weight: bold;
  color: var(--palenavycolor);
  text-decoration: none;
  padding: 4.5px;
}
.mybottomLinks a {
  font-size: 1.4rem;
  font-weight: bold;
  font-style: italic;
  color: darkcyan;
  padding: 4.5px;
  text-decoration: none;
}
.dismiss {
  display: none;
}
nav ul {
  text-align: center;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
nav ul li:hover > a {
  color: inherit;
}
nav ul li {
  margin-left: 0;
}
.adjustContent {
  display: flex;
  justify-content: space-around;
}
h4:first-child {
  color: #f2003c;
}
div h4 {
  font-family: "Shantell Sans", cursive;
  font-style: oblique;
  font-size: 1.8em;
  color: rgb(28, 28, 240);
  margin: 0;
  position: relative;
  bottom: 0.7em;
  left: 5.2em;
}
.bevsHot {
  font-family: "Delius Unicase", cursive;
  font-size: larger;
  color: #f2003c;
  list-style-image: url("../images/coffeeList_IconSmall.png");
}
.bevsCold {
  font-family: "Delius Unicase", cursive;
  font-size: larger;
  color: rgb(28, 28, 240);
  list-style-image: url("../images/lemon-tea_Icon.png");
}
footer {
  background-color: var(--honeycolor);
  margin-top: auto;
  text-align: center;
  color: var(--paleredcolor);
}
address {
  font-family: "Young Serif", serif;
  text-size-adjust: auto;
}
footer a {
  color: var(--paleredcolor);
}
footer div p {
  font-size: smaller;
  color: var(--palenavycolor);
}
@media screen and (min-width: 768px) {
  header > img {
    width: 40%;
  }
  nav ul li:hover > a {
    color: orange;
  }
  .mytopLinks a {
    padding: 15px;
  }
  .mybottomLinks a {
    color: var(--marooncolor);
    padding: 15px;
  }
  .mybottomLinks a:hover {
    color: var(--palenavycolor);
  }
  .dismiss {
    display: inline;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main img {
    float: right;
  }
}
